fastapi
uvicorn[standard]
pydantic

numpy
scipy
matplotlib
Pillow
wfdb

torch==2.1.2
torchvision==0.16.2
transformers==4.37.2
tokenizers==0.15.1
sentencepiece==0.1.99
accelerate==0.21.0
bitsandbytes

python-dotenv
python-multipart
scikit-learn==1.2.2
ftfy
